<div class="wrapper">
  <div class="header">
    <h1 class="title">AutoPark Admin</h1>
  </div>
  <div class="content text-center" *ngIf="!showLoginForm && !showRegisterForm">
    <button (click)="showLogin()" class="btn">Iniciar Sesión</button>
    <button (click)="showRegister()" class="btn">Registrarse</button>
  </div>
  <div class="content text-center" *ngIf="showLoginForm">
    <div class="form-group">
      <label for="usuario" class="form-label">Usuario</label>
      <input type="text" id="usuario" class="form-input" />
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" id="password" class="form-input" />
    </div>
    <button (click)="ingresar()" class="btn">Ingresar</button>
  </div>
  <div class="content text-center" *ngIf="showRegisterForm">
    <div class="form-group">
      <label for="usuario" class="form-label">Usuario</label>
      <input type="text" id="usuario" class="form-input" />
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" id="password" class="form-input" />
    </div>
    <button (click)="registrarse()" class="btn">Registrarme</button>
  </div>
</div>
